* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}


.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header'
        'menu menu menu menu'
        'subheader subheader subheader subheader'
        'content content content content';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.item1{
    grid-area: header;
}

.menu{
    grid-area: menu;
}

.subheader{
    grid-area: subheader;
}

.content{
    grid-area: content;
}

